@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

/*PRVA*/

#top{
    width: 100%;
    height: 100%;
}
.zgor{
    background-color: rgba(0,0,0,0.6);
    width:100%;
    height:100%;
    overflow: hidden;
}

.zgor-p {
    background-image: url('img/bone.jpg');
    background-size: cover;
    background-color: gray;
    display:block;
    width: 100%;
    height:100%;
    overflow: hidden;
    
}


/*BASIC*/
html {
    width:100%;
    height:100%;
}
body {
  font-family: sans-serif;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  width:100%;
  height:100%;
}


/*forst content*/
.mnas {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    text-align: center;
    color: #FEFEFE;
    padding: 0;
    font-size: 3em;
}

.mn-m-s {
    width:1px;
    height: calc(50% - 60px);
    display: block;
}

.podtext {
    font-size: 1.288874em;
    color: #cccccc;
    font-weight: normal;
}

.dwna {
    content: "\f078";
}

.d {
    color: white;
    font-size: 45px;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,0.2);
    display: block;
    cursor: pointer;
}
d:hover{
   background-color: rgba(0,0,0,0.32); 
}

.pd {
    text-decoration: none;
}
a{
    text-decoration: none;
}

.ssp {
    height: calc(50% - 90px);
    display: block;
}

/*EXPERINCE*/
#exp{
    width:100%;
    min-height: 840px;
    height: 100%;
}

.xp {
     width:100%;
    height: 100%;
   overflow:hidden;
}

.tsp {
    width: 1px;
    display: block;
    height: 60px;
    
}

.ns {
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    font-size: 2.6em;
    font-weight: bold;
}

.pns {
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    font-size: 1.2em;
    color: #666666;
    margin-bottom: 50px;
}

.p-box {
    width:100%;
    height: 520px;
    margin: 0 auto;
    text-align: center;
}

.box {
    width: calc(33% - 40px);
    height: 100%;
    display: inline-block;
    border-color: #cccccc !important;
    border-radius: 0.5px;
    border: solid;
    border-width: 2px 2px 2px 2px;
}

.boxrow {
    height:calc(50% - 10px);
    width:100%;
}
.boxspacer{
    height: 20px;
    width: 100%;
    display: block;
}
.boxs{
    margin-right: 20px;
}
/*content in the boxes*/
.imga {
    padding-top: 60px;
    height: calc(100% - 123px);
    width: 100%;
    color: #ffcd29;
    
    font-size: 5em;
}
.spod{
   
    height: 50px;
    line-height: 50px;
    width:100%;
}
/*PROJECT SECTION and div*/
#projects{
    width:100%;
    min-height: 1200px;
    height:100%;
}
.prj {
    width:100%;
    height:100%;
    overflow:hidden;
    background-color: #eeeeee;
}

.rowwy {
    width: 85%;
    height: calc(100% - 183px);
    margin: 0 auto;
    display: block;
    overflow: hidden;
}

.prow {
    margin-top: 70px;
    height: 200px;
    width:100%;
    margin-top: 15px;
    margin-bottom: 15px;
    transition-duration: 478ms;
}
.prow:hover{
    background-color: #D9D9D9;
    border-radius: 5px;
    overflow: hidden;
}
.tf{
    background-image: url("img/tflogo.png");
}
.leftimg {
    float: left;
    display: inline-block;
    
    background-repeat: no-repeat;
    background-position: center;
    height:100%;
    width: 300px;
    margin-right: 50px;
}

.naslov {
    color: #222222;
    font-size: 2em;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

.subtext {
    color: #666666;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 1.1555em; 
}

.rightimg {
    
    float: right;
    display: inline-block;
    
    background-repeat: no-repeat;
    background-position: center;
    height:100%;
    width: 290px;
    margin-right: 50px;
}

.kakoje {
    width: 60%; 
    height: 2px;
    border-width: 0px;
    border: none;
    background-color: #BBBBBB;
}
.rsk{
    background-image: url('img/rsklogo.png');
}
.adsix{
    background-image: url('img/adsix.png');
}
.dss{
    background-image: url('img/dss.png');
    background-size: contain;
}
/*FOOTER*/
#podtalnica{
    background-color: #252A31;
}
.podtalnica{
    width: 100%;
    height: 300px;
    color: #666666;
    overflow: hidden;
}
.ppod{
    margin-top: 150px;
    height: 150px;
    width: 100%;
    text-align: center;
}
.abs{
    position: absolute;
    bottom: 10px;
    right: 20px;
}


/*DOSEŽNKI ACHIVEMENTS*/
#achievement{
    width:100%;
    min-height: 453px;
    height:100%;
    overflow: auto;
}
.achievement {
    margin: 0 auto;
    margin-top: 30px;
    
    width: 900px;
    height: calc(100% - 60px); /*100% - (margin-top + margin bottom)*/
}

.achievement-p {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: block;
    overflow: hidden;
}
.prostor{
    display:block;
    width: 5px;
    height: 50px;
}
.velik{
    width:100%;
    margin-bottom: 40px;
}
.skatla{
    
    border: solid;
    border-color: #DDD #AAA;
    border-width: 2px;
    display: inline-block;
    width: calc(33% - 48px);
    height: 250px;
    background-color: #eee;
    margin-left: 20px;
    margin-right: 20px;
    
}
.zlat{
    background-color: #D3A947;
    background: linear-gradient(to top left, #875C1B, #FFBD00);
    color:white;
}
.srebrn{
    background-color:  	#C0C0C0;
    background: linear-gradient(to top left, #777, #FFF);
    color:black;
}
.greenslide{
    font-size: 1.75em !important;
}
.krog{
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    line-height: 140px;
    border-radius: 50%;
    width: 140px;
    height: 140px;
   
    font-size: 2.99em;
}
.undextext{
    font-size: 1.188em;
    padding-top: 44px;
    text-align: center;
}
.podme{
    text-align: center;
    padding-top: 10px;
}